@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Reuseable class */
  .custom-grid {
    @apply grid grid-cols-[100%] max-w-screen-xl w-full mx-auto px-4 xl:px-0;
  }

  /* Navbar Design */
  .navbar {
    @apply w-full bg-white shadow fixed top-0 left-0;
  }

  .nav__logo {
    @apply w-36 mt-1;
  }

  .nav {
    @apply grid-cols-2 items-center h-14 lg:h-16;
  }

  .nav__menu {
    @apply absolute top-14 left-0 grid w-full min-h-min bg-white/90 pb-4 shadow md:justify-self-end md:w-min md:static md:pb-0 md:shadow-none;
  }

  .nav__menu-hide {
    @apply hidden md:block;
  }

  .nav__list {
    @apply md:flex;
  }

  .nav__item {
    @apply py-2 w-full;
  }

  .nav__link {
    @apply px-4 text-[#1E90C2] hover:text-[#1B4388] text-base block md:inline tracking-wider;
  }

  .nav__toggle {
    @apply border rounded-md w-8 h-8 flex items-center justify-center outline-none cursor-pointer justify-self-end md:hidden;
  }

  .nav__toggle-icon {
    @apply text-xl text-gray-600;
  }

  /* Home Section design */
  .home {
    @apply pt-20 md:pt-24;
  }

  .blog-container {
    @apply gap-8 max-w-screen-lg;
  }

  .blog {
    @apply md:flex items-center space-x-6 lg:space-x-10;
  }

  .blog__img {
    @apply p-2 shadow-lg rounded-md border md:w-80 md:h-56 md:object-cover lg:w-96 lg:h-72;
  }

  .blog__head {
    @apply mt-4 md:mt-0;
  }

  .blog__title,
  .blog-details__title,
  .video__title {
    @apply text-xl text-[#1B4388] font-semibold lg:text-2xl;
  }

  .blog__subtitle {
    @apply flex items-baseline;
  }

  .blog__subtitle-text,
  .blog-details__text {
    @apply text-sm text-[#1E90C2] ml-1 lg:text-base;
  }

  .blog__body {
    @apply mt-4;
  }

  .blog__read-more {
    @apply text-[#1B4388] font-semibold cursor-pointer;
  }

  /* Blog Details */
  .blog-details__body {
    @apply max-w-screen-lg;
  }

  .blog-details__head {
    @apply w-full h-[30vh] bg-gradient-to-r from-[#1B4388]/80 to-[#1E90C2]/80 md:h-[40vh] lg:h-[45vh];
  }

  .blog-details__back {
    @apply text-white text-xl flex items-center p-4 cursor-pointer lg:text-3xl;
  }

  .blog-details__back-icon {
    @apply text-2xl -mt-1 -mr-1;
  }

  .blog-details__body {
    @apply -mt-20 md:-mt-32 lg:-mt-44;
  }

  .blog-details__img {
    @apply p-2 shadow-lg rounded-md border w-44 h-44 object-cover justify-self-center bg-white md:w-64 md:h-64 lg:w-96 lg:h-96;
  }

  .blog-details__title {
    @apply mt-8 md:text-2xl lg:text-3xl;
  }

  .blog-details__text {
    @apply mt-4 text-[#092350] md:text-base lg:text-xl;
  }

  /* Video Section */
  .video__container {
    @apply max-w-screen-lg pt-20 lg:pt-32 pb-12;
  }

  .video__head {
    @apply mb-8 lg:mb-16;
  }

  .video__title {
    @apply mb-2 md:text-2xl lg:text-[28px];
  }

  .video__subtitle {
    @apply text-[#1E90C2] text-sm md:text-base lg:text-xl;
  }

  .video__player {
    @apply w-full h-48 md:h-96 lg:h-[34rem];
  }

  /* Form Design */
  .form-container {
    @apply pt-20 pb-12;
  }

  .form {
    @apply max-w-md w-full px-8 py-10 shadow-lg rounded-lg justify-self-center;
  }

  .form__title {
    @apply text-center text-2xl text-[#1B4388] font-semibold mb-8;
  }

  .form__group {
    @apply mb-4;
  }

  .form__label {
    @apply text-base text-[#1B4388] block ml-2;
  }

  .form__input {
    @apply border border-[#1B4388]/70 w-full py-2 px-3 rounded-lg outline-none lg:py-3;
  }

  .form__button {
    @apply mt-5 w-full py-2 bg-gradient-to-r from-[#1B4388] to-[#1E90C2] rounded-lg text-white font-medium lg:py-3;
  }

  .form__login-register {
    @apply flex items-center mt-2 justify-center;
  }

  .form__loginRegister-demo {
    @apply text-[#1B4388] text-xs mr-1;
  }

  .form__loginRegister-text {
    @apply text-[#1E90C2] text-xs cursor-pointer;
  }

  .form__divider {
    @apply my-6 text-center text-[#1E90C2] relative;
  }

  .form__google-btn {
    @apply border border-[#1E90C2] rounded-lg py-2 flex w-full justify-center relative cursor-pointer lg:py-3;
  }

  .form__google-btn-icon {
    @apply absolute top-2 left-2 text-2xl lg:top-[0.7rem] lg:text-[26px];
  }
}

@layer utilities {
  body {
    font-family: "Raleway", sans-serif;
  }

  .nav__link,
  .blog-details__back {
    font-family: "Teko", sans-serif;
  }

  .form__divider::before,
  .form__divider::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 40%;
    height: 1px;
    background: linear-gradient(to right, #1b4388, #1e90c2);
  }

  .form__divider::after{
    left: 60%;
  }
}
